@import './variables.css';

.bonus {
  background: 
    23% no-repeat url(../img/bonus/decoration-1.svg),
    80% 16% no-repeat url(../img/bonus/decoration-2.svg),
    100% 100% no-repeat url(../img/bonus/decoration-3.svg),
    15% 35% no-repeat url(../img/bonus/decoration-4.svg),
    url(../img/bonus/bg.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-bonus {
  margin: 41px 0 19px;
  width: 455px;
  height: 92px;
}
.usd {
  margin-bottom: 36px;
}
.bonus > .submit {
  margin-bottom: 56px;
} 
@media (max-width: 767px) {
  .bonus {
    background: center / cover no-repeat url(../img/bonus/bg.svg);
  }
}
@media (max-width: 574px) {
  .usd {
    height: 65px;
  }
  .text-bonus {
    width: 300px;
  }
}
